* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body {
  background-color: rgb(214, 214, 214);
} */

nav {
  background-color: aliceblue;
  padding-left: 10px;
}

hr {
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  text-decoration: underline;
  margin: 20px auto;
}

p {
  text-align: center;
}

div.content {
  display: flex;
  align-content: space-between;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}

.trainers,
.training-packages {
  display: flex;
  gap: 5px;
}

.trainer,
.training-package {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid rgb(221, 223, 223);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 10px 2px rgb(121, 120, 120);
}

.training-packages {
  padding: 0 0 10px 0;
  padding: 10px;
  border-radius: 5px;
}
/*-------------- Footer --------------*/

footer {
  background-color: aliceblue;
  text-align: center;
  margin: 10px auto;
  transition: 1s;
}

footer:hover {
  color: rgb(2, 137, 200);
}

/* -----------------------------------*/
