* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(255, 255, 255);
}

nav {
  background-color: aliceblue;
  padding-left: 10px;
}

hr {
  margin-top: 0;
}
h1 {
  color: rgb(2, 137, 200);
  text-align: center;
  text-decoration: underline;
  margin: 20px auto;
}

div.reg-container {
  width: 75vw;
  margin: 20px auto;
}

/*-------------- Footer --------------*/

footer {
  background-color: aliceblue;
  text-align: center;
  margin: 10px auto;
  transition: 1s;
}

footer:hover {
  color: rgb(2, 137, 200);
}

/* -----------------------------------*/
