* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: aliceblue;
  padding-left: 10px;
}

hr {
  margin-top: 0;
}

h1,
h2,
h3 {
  text-align: center;
  text-decoration: underline;
  margin: 20px auto;
}

p {
  text-align: center;
}

.trainer {
  width: 300px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid rgb(221, 223, 223);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 10px 2px rgb(121, 120, 120);
}

/*-------------- Footer --------------*/

footer {
  background-color: aliceblue;
  text-align: center;
  margin: 10px auto;
  transition: 1s;
}

footer:hover {
  color: rgb(2, 137, 200);
}

/* -----------------------------------*/
